.background-layers > img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    height: auto;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 3rem;
    object-fit: cover;
}